<!--
The shipping address form must have the following fields:
Name, Address Line 1, Address Line 2, City, State, and Zip.
All fields should be simple text inputs,
though you may use a <select> for the list of possible states.
All fields are required except for Address Line 2.
A field with only spaces in it should not be considered filled.
-->

<form name="shippingForm" novalidate ng-submit="save()">
    <div class="form-group">
        <label for="nameImp">Name:</label>
        <input type="text" class="form-control" id="nameImp"
                name="nameImp" ng-model=""/>

    </div>

</form>